<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxnk.mapper.MenuMapper">
    <!--根据用户id查询相应的权限-->
    <select id="getPermsByUserId" resultType="java.lang.String">
        SELECT
            DISTINCT m.perms
        FROM
            cc_user_role ur
                LEFT JOIN
            cc_role_menu rm ON ur.role_id = rm.role_id
                LEFT JOIN
            cc_menu m ON rm.menu_id = m.id
        WHERE ur.user_id = #{userId}
          AND m.menu_type IN ('C','F')
          AND m.`status` = 0
          AND m.del_flag = 0;
    </select>
    <select id="getAllPermissions" resultType="java.lang.String">
        SELECT
            DISTINCT IFNULL(m.perms,'')
        FROM
            cc_menu m
        WHERE
            m.menu_type IN ('F','C') AND
            m.`status` = 0 AND
            m.del_flag = 0;
    </select>
    <select id="getAllRouterMenu" resultType="com.zxnk.entity.Menu">
        SELECT
            DISTINCT m.id, m.parent_id, m.menu_name, m.path, m.component, m.visible, m.status, IFNULL(m.perms,'') AS perms, m.is_frame,  m.menu_type, m.icon, m.order_num, 						m.create_time
        FROM
            cc_menu m
        WHERE
            m.menu_type IN ('C','M') AND
            m.`status` = 0 AND
            m.del_flag = 0
        ORDER BY
            m.parent_id,m.order_num;
    </select>
    <select id="getRouterMenuTreeByUserId" resultType="com.zxnk.entity.Menu">
        SELECT
            DISTINCT m.id, m.parent_id, m.menu_name, m.path, m.component, m.visible, m.status, IFNULL(m.perms,'') AS perms, m.is_frame,  m.menu_type, m.icon,
                     m.order_num, m.create_time
        FROM
            cc_user_role ur
                LEFT JOIN cc_role_menu rm ON ur.role_id = rm.role_id
                LEFT JOIN cc_menu m ON m.id = rm.menu_id
        WHERE
            ur.user_id = #{userId} AND
            m.menu_type IN ('C','M') AND
            m.`status` = 0 AND
            m.del_flag = 0
        ORDER BY
            m.parent_id,m.order_num;
    </select>
</mapper>